<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Lista de Productos</h1>
            <table class="table">
                <thead class="thead-dark">   
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha de Registro</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.fecha_registro }}</td>
                    <td>
                        {% if producto.estatus %}
                           Disponible
                        {% else %}
                            No Disponible
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay productos</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Ingresar nuevo producto
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'productos' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text"  class="form-control" name="nombre" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea name="descripcion"  class="form-control" id="descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number"  class="form-control" name="precio" id="precio" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Guardar">
                </form>
        </div>
    </div>
</body>
</html>